<a href="https://colab.research.google.com/github/Lunindi/GettingStarted/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mystring = "HELLO"
mystring[::2]

'HLO'

In [ ]:
mystring[::-1]

'OLLEH'

In [ ]:
a,b,c = -5,0,10
if c==0:
  print("number = 0")
elif c>0:
  print("number is positive")
else:
  print("number is negative")

number is positive

In [ ]:
a=1
while a<6:
  print(a)
  a=1+a
print("The End")

1
2
3
4
5
The End

In [21]:
mylist=["Oolong","Assam","Green","White"]
if "Rooibos" in mylist:
  print("Available")
elif "Rooibos" not in mylist:
   mylist.append("Rooibos")

print(mylist)

['Oolong', 'Assam', 'Green', 'White', 'Rooibos']

In [25]:
element=input("Please input tea type (Capitalised)")
if element in mylist:
  print("Tea is already in list")
else:
  mylist.append(element)
  print("The new list is:", mylist)

Please input tea type (Capitalised)Green
Tea is already in list

In [26]:
for element in range(len(mylist)):
  print(element, mylist[element])

0 Oolong
1 Assam
2 Green
3 White
4 Rooibos
5 Herbal
6 Fruit

In [28]:
a=[1,2,3,4,5,6,7,8]
c=[]
for x in a:
  c.append(x*2)
print(c)

[2, 4, 6, 8, 10, 12, 14, 16]

In [32]:
a="Python"

b=[letter.upper() for letter in "python"]
print(b)

['P', 'Y', 'T', 'H', 'O', 'N']

In [36]:
mydict={"employee":"Zara","salary":5000}
mydict["department"] ="sales"
print(mydict)
print(len(mydict))

{'employee': 'Zara', 'salary': 5000, 'department': 'sales'}
3

In [37]:
if "department" in mydict:
  print("The key exists")

The key exists

In [40]:
mydict.update({"salary": 6000, "status": "permanent", "level":3})
print(mydict)

{'employee': 'Zara', 'salary': 6000, 'department': 'sales', 'status': 'permanent', 'level': 3}

In [46]:
del mydict ["salary"]
print(mydict)

{'employee': 'Zara', 'department': 'sales', 'status': 'permanent', 'level': 3}

In [47]:
mydict.clear()
print(mydict)

{}